<div *ngIf="userType === 'parent'">
  <iee-payment></iee-payment>

  <hr class="my-4"/>

  <iee-enrollment-agreement [enrollmentAgreement]="appData.enrollmentAgreement"></iee-enrollment-agreement>
</div>

<div *ngIf="userType === 'student'">
  A parent or guardian must fill out this page.
  <div *ngFor="let parent of appData.parents" class="my-4">
    <button
      class="btn btn-primary"
      (click)="sendParentCredentials(parent)">Send login information to {{parent.firstName}} {{parent.lastName}}</button>
  </div>
  <div class="alert alert-info my-4" *ngIf="credentialStatus">
    {{credentialStatus}}
  </div>
</div>
