<div *ngIf="userType === 'parent'">
  <iee-payment></iee-payment>

  <hr class="my-4"/>

  <iee-enrollment-agreement [enrollmentAgreement]="appData.enrollmentAgreement" [termName]="appData.termName"
                            [applicantName]="applicantName" [programs]="selectedPrograms"></iee-enrollment-agreement>
</div>

<div *ngIf="userType === 'student'">
  <p>This page may only be accessed by a parent(s) or guardian(s). Parent(s) or guardian(s) must log in with
    their unique credentials in order to complete this section and are advised not to share their username and password
    with the student applicant.
  </p>

  <p>Click here to send your parent or guardian their unique parent or guardian credentials.</p>
  <div *ngFor="let parent of appData.parents" class="my-4">
    <button
      class="btn btn-primary"
      (click)="sendParentCredentials(parent)">Send login information to {{parent.firstName}} {{parent.lastName}}</button>
  </div>
  <div class="alert alert-info my-4" *ngIf="credentialStatus">
    {{credentialStatus}}
  </div>
</div>
