<h3>Sign Enrollment Agreement</h3>

<p>The electronic signature below and its related fields are treated by Interlochen like a physical handwritten
  signature on a paper form. Parents agree to enter this Enrollment Agreement by electronic means and that the
  electronic signature is intended to be the same as if there was a physical handwritten signature. Parents understand
  that if they have any problems electronically signing this document, they should contact Interlochen. Failure to sign
  the Enrollment Agreement by the Enrollment Deadline may compromise the Student’s enrollment.
</p>

<p>By typing my name on this electronic record, I am agreeing to the terms and conditions as contained herein, and I
  intend it to serve as my electronic signature. I agree and authorize Interlochen to rely on my electronic signature
  and understand and acknowledge that it has a legally binding effect.
</p>

<label for="signature" class="mt-4">Signature</label>
<div class="default required">
  <input type="text"
         [(ngModel)]="appData.enrollmentAgreement.signature"
         name="signature"
         maxlength="255"
         id="signature"/>
</div>

<label class="mt-4">Enter your Birthdate</label>
<div class="default required">
  <div class="form-group row">
    <div class="col-12 col-md-4">
      <label for="birthdate_year">Year</label>
      <div class="select">
        <select id="birthdate_year" [(ngModel)]="appData.enrollmentAgreement.birthdateYear" (change)="appData.enrollmentAgreement.updateBirthdate()">
          <option *ngFor="let year of yearOptions" [value]="year.value">{{year.label}}</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <label for="birthdate_month">Month</label>
      <div class="select">
        <select id="birthdate_month" [(ngModel)]="appData.enrollmentAgreement.birthdateMonth" (change)="appData.enrollmentAgreement.updateBirthdate()">
          <option *ngFor="let month of monthOptions" [value]="month.value">{{month.label}}</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <label for="birthdate_day">Day</label>
      <div class="select">
        <select id="birthdate_day" [(ngModel)]="appData.enrollmentAgreement.birthdateDay" (change)="appData.enrollmentAgreement.updateBirthdate()">
          <option *ngFor="let day of dayOptions" [value]="day.value">{{day.label}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
