<h3>Choose a Program</h3>

<label for="selectedGrade" class="mt-4">Current Grade in School</label>
<div class="default">
  <div class="select">
    <select [(ngModel)]="appData.programData.gradeInSchool"
            (change)="updateSelectedDivision()"
            name="selectedGrade"
            id="selectedGrade">
      <option *ngFor="let grade of gradeInSchoolOptions" [value]="grade.value">{{grade.label}}</option>
    </select>
  </div>
</div>

<label for="selectedArtsArea" class="mt-4">Arts Area</label>
<div class="default">
  <div class="select">
    <select [(ngModel)]="selectedArtsArea"
            name="selectedArtsArea"
            id="selectedArtsArea">
      <option *ngFor="let artsArea of sortedArtsAreas" [value]="artsArea.value"
              [defaultSelected]="artsArea.defaultValue">{{artsArea.label}}</option>
    </select>
  </div>
</div>

<div *ngIf="appData.programData.sessions.length > 1">
  <label for="selectedSession" class="mt-4">Session</label>
  <div class="default">
    <div class="select">
      <select [(ngModel)]="selectedSession"
              name="selectedSession"
              id="selectedSession">
        <option *ngFor="let session of sortedSessions" [value]="session.value"
                [defaultSelected]="session.defaultValue">{{session.label}}</option>
      </select>
    </div>
  </div>
</div>

<div class="col-12 my-4" *ngIf="this.appData.programData.selectedDivision">
  <div class="row">
    <h5>Programs for {{selectedDivisionDescription}}</h5>
  </div>
</div>

<div *ngFor="let program of filteredPrograms" class="checkbox-container col-12 align-items-center d-flex my-3"
     (click)="clickProgram(program)"
     [ngClass]="{disabled: program.isDisabled(daysSelected, selectedProgramSessions)}">
  <div class="checkbox col-3 col-md-2" *ngIf="!anyProgramUpdating">
    <input type="checkbox" [id]="program.id" [name]="program.id"
           [checked]="program.isSelected"
           [disabled]="program.isDisabled(daysSelected, selectedProgramSessions)">
    <label [ngClass]="{disabled: program.isDisabled(daysSelected, selectedProgramSessions)}">
      <i class="fa fa-check pl-4"></i>
    </label>
  </div>
  <div class="checkbox col-3 col-md-2" *ngIf="anyProgramUpdating">
    <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
  </div>
  <div class="col-9 col-md-8 description">
    <h4>{{program.name}}</h4>
    <div>{{program.sessionDates}}</div>
    <div>Meets on {{program.daysDisplay}}</div>
  </div>
</div>
