<header>
  <div class="row">
    <div class="col-12">
      <h3>Select a Program</h3>
    </div>
  </div>
</header>


<div class="alert alert-warning" *ngIf="programsDisabled">
  Registration Fee has already been paid. No more changes are allowed to program choices. Please complete this registration before trying to register for any additional programs.
</div>

<label for="selectedGrade" class="mt-4">Current Grade in School</label>
<div class="default" [ngClass]="{disabledDiv: appData.payment.tuitionPaid || appData.isRegistered}">
  <div class="select">
    <select [(ngModel)]="appData.programData.gradeInSchool"
            (change)="updateSelectedDivision()"
            name="selectedGrade"
            class="w-100"
            [disabled]="appData.payment.tuitionPaid || appData.isRegistered"
            id="selectedGrade">
      <option *ngFor="let grade of gradeInSchoolOptions" [value]="grade.value">{{grade.label}}</option>
    </select>
  </div>
</div>

<label for="selectedArtsArea" class="mt-4">Arts Area</label>
<div class="default" [ngClass]="{disabledDiv: programsDisabled}">
  <div class="select">
    <select [(ngModel)]="selectedArtsArea"
            name="selectedArtsArea"
            class="w-100"
            [disabled]="programsDisabled"
            id="selectedArtsArea">
      <option *ngFor="let artsArea of sortedArtsAreas" [value]="artsArea.value"
              [defaultSelected]="artsArea.defaultValue">{{artsArea.label}}</option>
    </select>
  </div>
</div>

<div *ngIf="appData.programData.sessions.length > 1">
  <label for="selectedSession" class="mt-4">Session</label>
  <div class="default" [ngClass]="{disabledDiv: programsDisabled}">
    <div class="select">
      <select [(ngModel)]="selectedSession"
              name="selectedSession"
              class="w-100"
              [disabled]="programsDisabled"
              id="selectedSession">
        <option *ngFor="let session of sortedSessions" [value]="session.value"
                [defaultSelected]="session.defaultValue">{{session.label}}</option>
      </select>
    </div>
  </div>
</div>

<div class="col-12 my-4" *ngIf="selectedPrograms.length > 0">
  <div class="row">
    <h5>Selected Programs</h5>
    <div *ngFor="let program of selectedPrograms" class="checkbox-container col-12 align-items-center d-flex my-3"
         (click)="clickProgram(program, instrumentModal)"
         [ngClass]="{disabled: program.isDisabled(daysSelectedBySession, programsDisabled)}">
      <div class="checkbox col-3 col-md-2" *ngIf="!program.isSaving">
        <input type="checkbox" [id]="program.id" [name]="program.id"
               [checked]="program.isSelected"
               [disabled]="program.isDisabled(daysSelectedBySession, programsDisabled)">
        <label [ngClass]="{disabled: program.isDisabled(daysSelectedBySession, programsDisabled)}">
          <i class="fa fa-check pl-4"></i>
        </label>
      </div>
      <div class="checkbox col-3 col-md-2" *ngIf="program.isSaving">
        <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
      </div>
      <div class="col-9 col-md-8 description">
        <h4>{{program.name}}</h4>
        <div>{{program.sessionDates}}</div>
        <div>Meets on {{program.daysDisplay}}</div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 my-4" *ngIf="appData.programData.selectedDivision">
  <div class="row">
    <h5>Programs for {{selectedDivisionDescription}}</h5>
    <p *ngIf="appData.programData.selectedDivision === 'High School'">In addition to your Monday through Thursday arts program you can also add on an academic program on Fridays.</p>
  </div>
</div>

<div *ngFor="let program of filteredPrograms" class="checkbox-container col-12 align-items-center d-flex my-3"
     (click)="clickProgram(program, instrumentModal)"
     [ngClass]="{disabled: program.isDisabled(daysSelectedBySession, programsDisabled)}">
  <div class="checkbox col-3 col-md-2" *ngIf="!program.isSaving">
    <input type="checkbox" [id]="program.id" [name]="program.id"
           [checked]="program.isSelected"
           [disabled]="program.isDisabled(daysSelectedBySession, programsDisabled)">
    <label [ngClass]="{disabled: program.isDisabled(daysSelectedBySession, programsDisabled)}">
      <i class="fa fa-check pl-4"></i>
    </label>
  </div>
  <div class="checkbox col-3 col-md-2" *ngIf="program.isSaving">
    <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
  </div>
  <div class="col-9 col-md-8 description">
    <h4>{{program.name}}</h4>
    <div>{{program.sessionDates}}</div>
    <div>Meets on {{program.daysDisplay}}</div>
  </div>
</div>

<ng-template #instrumentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select an Instrument</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close clicked')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="select">
      <select [(ngModel)]="modalInstrumentChoice"
              name="selectedInstrument"
              class="w-100"
              id="selectedInstrument">
        <option *ngFor="let instrument of selectedProgramInstruments" [value]="instrument.value"
                [defaultSelected]="instrument.defaultValue">{{instrument.label}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="!modalInstrumentChoice" (click)="modal.close(modalInstrumentChoice)">Ok</button>
  </div>
</ng-template>
