<h3>Choose a Program</h3>


<label for="selectedDivision" class="mt-4">Division</label>
<div class="default">
  <div class="select">
    <select [(ngModel)]="appData.programData.selectedDivision"
            name="selectedDivision"
            id="selectedDivision">
      <option *ngFor="let division of sortedDivisions" [value]="division.value">{{division.label}}</option>
    </select>
  </div>
</div>


<div *ngFor="let program of programsBySelectedDivision" class="checkbox-container col-12 align-items-center d-flex my-3"
     (click)="clickProgram(program)"
     [ngClass]="{disabled: program.isDisabled(daysSelected)}">
  <div class="checkbox col-3 col-md-2" *ngIf="!anyProgramUpdating">
    <input type="checkbox" [id]="program.id" [name]="program.id"
           [checked]="program.isSelected"
           [disabled]="program.isDisabled(daysSelected)">
    <label [ngClass]="{disabled: program.isDisabled(daysSelected)}">
      <i class="fa fa-check pl-4"></i>
    </label>
  </div>
  <div class="checkbox col-3 col-md-2" *ngIf="anyProgramUpdating">
    <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
  </div>
  <div class="col-9 col-md-8 description">
    <h4>{{program.name}}</h4>
    Meets on {{program.daysDisplay}}
  </div>
</div>
