<div class="row">
  <div class="col-8">
    <h4>Selected Programs</h4>
  </div>
  <div class="col-4 text-right">
    <a [routerLink]="[link.routerLink]" class="btn btn-primary">Edit</a>
  </div>
</div>

<div *ngFor="let program of selectedPrograms" class="my-2">
  <div><b>{{program.name}} <span *ngIf="program.selectedInstrument"> - {{program.selectedInstrument}}</span></b></div>
  <div class="ml-3">Session: {{program.sessionDates}} </div>
  <div class="ml-3">Meeting Days: {{program.daysDisplay}}</div>
</div>

<div *ngIf="!selectedPrograms || selectedPrograms.length === 0">
  <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> No programs selected</span>
</div>
