<div class="modal-header">
  <div class="modal-title">
    <h4>{{ group.name }}</h4>
    <div class="modal-title" *ngIf="certIsSequenced">Courses must be taken in the order listed below.</div>
    <div class="modal-title" *ngIf="!certIsSequenced">Courses can be taken in any order.</div>
  </div>
  <button type="button" class="close btn btn-sm" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">
      <i class="fa fa-close fa-2x"></i>
    </span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let course of group.courses; let i = index" class="row mb-3">
    <div class="col-12 col-lg-6">{{ course.name }}</div>
    <div class="col-12 col-lg-6">
      <div class="default required">
        <div class="select">
          <select [(ngModel)]="group.bundleChoices[i]"
                  name="bundleChoice_{{i}}"
                  class="w-100"
                  id="bundleChoice_{{i}}">
            <option *ngFor="let program of course.getProgramsByDivision(selectedDivision)"
                    [value]="program.certificateGroupOption.value"
                    [defaultSelected]="program.certificateGroupOption.defaultValue">{{ program.certificateGroupOption.label }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span *ngIf="allSelected === false" class="alert-text me-3">Please make a selection for each course.</span>
  <span *ngIf="atLeastOneScheduled === false" class="alert-text me-3">Please make sure to schedule at least one course.</span>
  <span *ngIf="allInSequence === false" class="alert-text me-3">Courses must be taken in the order listed.</span>
  <button class="btn btn-primary" (click)="ok()">Ok</button>
</div>
