<div class="well application-progress my-3">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 d-flex flex-column justify-content-start">
      <h5>Interlochen Online</h5>
      {{appData.student.preferredName || appData.student.firstName}} {{appData.appName}}
    </div>
    <div class="col-12 col-sm-6 col-md-5 d-flex flex-column justify-content-center my-3 my-sm-0">
    </div>
    <div class="col-12 col-md-4 text-center d-flex justify-content-end align-items-center">
      <span class="me-2" *ngIf="isSaving"><i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i></span>
      <button class="btn btn-ghost me-3"
              [disabled]="isSaving"
              [ngClass]="{disabled: isSaving}"
              (click)="saveApplication()">Save Progress</button>
    </div>
  </div>
</div>
