<h3>Make a Payment</h3>

<label>Payment Method</label>
<div class="default">
  <div class="form-check form-check-inline" *ngFor="let pt of PaymentType | keyvalue">
    <input type="radio"
           class="form-check-input"
           [(ngModel)]="paymentType"
           name="paymentType"
           id="paymentType_{{pt.key}}"
           value="{{pt.value}}"/>
    <label for="paymentType_{{pt.key}}" class="form-check-label">{{pt.value}}</label>
  </div>
</div>

<iee-credit-card *ngIf="paymentType === PaymentType.CC"></iee-credit-card>
<iee-ach *ngIf="paymentType === PaymentType.ACH"></iee-ach>
