<header xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-12">
      <h3>{{(appData.payment && (appData.payment.amountOwed === 0 || appData.payment.paidOnLoad)) || (paymentReceived && !!transactionId)? 'Payment Complete' : 'Make a Payment'}}</h3>
    </div>
  </div>
</header>

<div *ngIf="userType === 'parent'">
  <div *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i> Loading...
  </div>
  <div *ngIf="!isLoading">
    <div class="default mb-2"
         *ngIf="appData.payment.amountPaid > 0 && transactionId == null && appData.payment.amountOwed == 0">
      You have paid your registration fee of {{appData.payment.amountPaid | currency:'USD'}}.
    </div>
    <div class="default mb-2" *ngIf="paymentReceived && transactionId != null">
      You have paid your registration fee of {{appData.payment.payments[0].split('&')[0] | currency:'USD'}}.
    </div>
    <div
      *ngIf="!paymentReceived && appData.payment.amountOwed === 0.00 && appData.payment.appliedCredits <= 0 && appData.payment.appliedWaivers <= 0">
      You must choose a program before you can pay.
    </div>
    <div>
      <table class="table table-striped my-3">
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
<!--        Can this go away?? -->
<!--          <tr>-->
<!--            <td>Total tuition for {{appData.termName}}</td>-->
<!--            <td>{{totalTuition | currency:'USD'}}</td>-->
<!--          </tr>-->
          <!-- Bundles -->
          <ng-container *ngFor="let pendingBundle of appData.payment.pendingBundles">
            <tr>
              <td>{{pendingBundle.name}}</td>
              <td>
                <!-- This page was intentionally left blank. -->
              </td>
            </tr>
            <tr>
              <td class="ps-4">{{pendingBundle.discount.name}}</td>
              <td>{{pendingBundle.discount.amount | currency: 'USD'}}</td>
            </tr>
            <ng-container *ngFor="let appChoice of pendingBundle.appChoices">
              <tr>
                <td class="ps-4">{{appChoice.name}}</td>
                <td>{{appChoice.amount | currency: 'USD'}}</td>
              </tr>
              <tr *ngIf="appChoice.waiver">
                <td class="ps-6">Discount <span class="ms-3 waiver">{{appChoice.waiver.code}}
                  <i *ngIf="!paymentReceived" (click)="removeCode(appChoice.waiver.code)" class="fa fa-times remove alert-text"></i></span>
                </td>
                <td>{{appChoice.waiver.amount | currency: 'USD'}}</td>
              </tr>
            </ng-container>
          </ng-container>
          <!-- Non-Bundle App Choices -->
          <ng-container *ngFor="let appChoice of appData.payment.pendingAppChoices">
            <tr>
              <td>{{appChoice.name}}</td>
              <td>{{appChoice.amount | currency: 'USD'}}</td>
            </tr>
            <tr *ngIf="appChoice.waiver">
              <td>Discount <span class="ms-3 waiver">{{appChoice.waiver.code}}
                <i *ngIf="!paymentReceived" (click)="removeCode(appChoice.waiver.code)" class="fa fa-times remove alert-text"></i></span>
              </td>
              <td>{{appChoice.waiver.amount | currency: 'USD'}}</td>
            </tr>
          </ng-container>
          <!-- Other Credits - Can't get more info about these because loosely tied -->
          <ng-container *ngIf="appData.payment.pendingCredit > 0">
            <tr>
              <td>Other Credit</td>
              <td>-{{appData.payment.pendingCredit | currency:'USD'}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="appData.payment.appliedWaivers > 0">
            <tr *ngFor="let pendingDiscount of appData.payment.pendingDiscounts">
              <td>Discount Amount <span class="ms-3 waiver">{{pendingDiscount.split('&')[1]}} <i *ngIf="!paymentReceived"
                (click)="removeCode(pendingDiscount.split('&')[1])" class="fa fa-times remove alert-text"></i></span>
                {{pendingDiscount.split('&')[2] | date:'short'}}
              </td>
              <td>-{{pendingDiscount.split('&')[0] | currency:'USD'}}</td>
            </tr>
          </ng-container>
          <tr>
            <td><strong>Amount owed:</strong></td>
            <td><strong>{{achAmount | currency:'USD'}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!paymentReceived && !codeDisabled" class="mb-4">
      <label for="code">Discount Code</label>
      <div class="default">
        <input type="text" class="w-50"
               [(ngModel)]="enteredCode"
               name="code"
               id="code"
               maxlength="50"
               pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"/>
        <button (click)="applyCode()" class="btn btn-default ms-3">Apply</button>
      </div>
      <div *ngIf="appData.payment.waiverDescription" class="mt-2 reviewError">
        <i class="fa fa-warning"></i> {{appData.payment.waiverDescription}}
      </div>
    </div>

    <div *ngIf="selectedPrograms && selectedPrograms.length > 0">
      <div *ngFor="let program of selectedPrograms" class="my-2">
        <div><b>{{program.name}} <span *ngIf="program.selectedInstrument"> - {{program.selectedInstrument}}</span></b>
          <span *ngIf="appData.isRegistered && (!program.isRegistered)"> - <span class="new-program">New</span></span>
          <span *ngIf="appData.isRegistered && program.isRegistered"> - Registered</span>
        </div>
        <div *ngIf="!program.isPrivateLesson" class="ms-3">Session: {{program.sessionDates}} </div>
        <div *ngIf="!program.isPrivateLesson && program.daysDisplay" class="ms-3">Meeting Days: {{program.daysDisplay}}</div>
        <div *ngIf="program.isPrivateLesson">Number of lessons: {{program.lessonCount}}  <span *ngIf="program.lessonCountAdd > 0" class="new-program"> Pending additional lessons: {{program.lessonCountAdd}}</span></div>
        <div *ngIf="program.isPrivateLesson">Meets on various days (selected by student according to instructor's availability)</div>
      </div>
      <div *ngFor="let program of registeredPrograms" class="my-2">
        <div><b>{{program.name}} <span *ngIf="program.selectedInstrument"> - {{program.selectedInstrument}}</span></b>
          - Registered on {{program.registeredDate}}
        </div>
        <div *ngIf="!program.isPrivateLesson" class="ms-3">Session: {{program.sessionDates}} </div>
        <div *ngIf="!program.isPrivateLesson && program.daysDisplay" class="ms-3">Meeting Days: {{program.daysDisplay}}</div>
        <div *ngIf="program.isPrivateLesson">Number of lessons: {{program.lessonCount}}</div>
        <div *ngIf="program.isPrivateLesson">Meets on various days (selected by student according to instructor's availability)</div>
      </div>

      <div *ngIf="!canPay() && appData.payment.paidOnLoad">
        <p>By registering, you agree to the terms of our <a href="https://interlochencdn.s3.us-east-2.amazonaws.com/io/Interlochen+Online+Enrollment+Agreement.pdf" target="_blank">enrollment agreement</a>, which will also be available in the Education Community once registered.</p>
        <button class="btn btn-primary" (click)="addProgramsWithWaiver()">Register</button>
      </div>
    </div>

    <p *ngIf="appData.payment.earlyBirdDiscountInfo" class="reviewError">{{appData.payment.earlyBirdDiscountInfo}}</p>
    <iee-ach *ngIf="canPay()" [useCredit]="appData.payment.useCredit"></iee-ach>

    <div *ngIf="!canPay() && appData.payment.paidOnLoad && (!selectedPrograms || selectedPrograms.length === 0)">
      <div *ngFor="let program of registeredPrograms" class="my-2">
        <div><b>{{program.name}} <span *ngIf="program.selectedInstrument"> - {{program.selectedInstrument}}</span></b>
          - Registered on {{program.registeredDate}}
        </div>
        <div *ngIf="!program.isPrivateLesson" class="ms-3">Session: {{program.sessionDates}} </div>
        <div *ngIf="!program.isPrivateLesson && program.daysDisplay" class="ms-3">Meeting Days: {{program.daysDisplay}}</div>
        <div *ngIf="program.isPrivateLesson">Number of lessons: {{program.lessonCount}}</div>
        <div *ngIf="program.isPrivateLesson">Meets on various days (selected by student according to instructor's availability)</div>
      </div>

      <p>Congratulations! Your registration is now complete.</p>
    </div>
    <a class="btn btn-primary" href="/interlochen"  *ngIf="!canPay() && appData.payment.paidOnLoad && (!selectedPrograms || selectedPrograms.length === 0)" target="_self">Back to Home</a>
  </div>
</div>

<div *ngIf="userType === 'student'">
  <p>This page may only be accessed by a parent(s) or guardian(s). Parent(s) or guardian(s) must log in with
    their unique credentials in order to complete this section and are advised not to share their username and password
    with the student applicant.
  </p>

  <p>Click here to send your parent or guardian their unique parent or guardian credentials.</p>
  <div *ngFor="let parent of appData.parents" class="my-4">
    <button class="btn btn-primary"
            (click)="sendParentCredentials(parent)">
      Send login information to {{parent.firstName}} {{parent.lastName}}</button>
  </div>
  <div class="alert alert-info my-4" *ngIf="credentialStatus">
    {{credentialStatus}}
  </div>
</div>
