<div class="mb-2 mt-4" *ngIf="!appData.payment.paidOnLoad">
  <p><i>Once registered, Interlochen Online programs are not refundable, though in some cases we may be able to apply payment to another Interlochen program. If you have any questions, please contact us at <a href="mailto:online@interlochen.org" target="_blank">online@interlochen.org</a> before completing registration.</i></p>
  <p>Clicking the Pay Fee & Register button below will take you to our payment processor. By paying your registration fee, you are enrolling in Interlochen Online and agreeing to the terms of our <a href="https://interlochencdn.s3.us-east-2.amazonaws.com/io/Interlochen+Online+Enrollment+Agreement.pdf" target="_blank">enrollment agreement</a>. The full enrollment agreement will also be available for your reference here in the Education Community once you are registered.</p>
  <a class="btn btn-primary" [attr.href]="linkFACTS" [ngClass]="{'disabled' : !linkFACTS}" target="_self">Pay Fee & Register</a>
</div>

