
<div class="modal-header">
  <h4 class="modal-title" id="add-lesson-modal-basic-title">{{program.name}}</h4>
  <button type="button" class="close btn btn-sm" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true"><i class="fa fa-close fa-2x"></i></span>
  </button>
</div>
<div class="modal-body">
  <h5 *ngIf="modalList === ListTypes.SELECTED">Adjust Lessons</h5>
  <h5 *ngIf="modalList === ListTypes.REGISTERED">Select number of additional lessons</h5>
  <label for="lessonCountAdd" class="mt-4 required">Number of lessons</label>
  <div class="default required">
    <input type="number" class="w-25"
           [(ngModel)]="data.lessonCountAdd"
           name="lessonCountAdd"
           max="999"
           min="0"
           maxlength="3"
           step="1"
           pattern="\d*"
           id="lessonCountAdd"/>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="buttonDisabled()" (click)="ok()">Ok</button>
</div>