<div class="modal-header">
  <h4 class="modal-title" id="add-lesson-modal-basic-title">{{ program.name }}</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <h5 *ngIf="modalList === ListTypes.SELECTED">Adjust Lessons</h5>
  <h5 *ngIf="modalList === ListTypes.REGISTERED">Select number of additional lessons</h5>
  <label for="lessonCountAdd" class="mt-4 required">Number of lessons</label>
  <div class="default required">
    <input #lessonCountAdd
           type="number" class="w-25"
           [(ngModel)]="data.lessonCountAdd"
           max="99"
           min="0"
           step="1"
           pattern="\d{1,2}"
           name="lessonCountAdd"
           id="lessonCountAdd"/>
  </div>

  <div *ngIf="invalidLessonCount" class="alert alert-danger mt-2">
    Please enter whole numbers, 1 through 99
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="buttonDisabled()" (click)="ok()">Ok</button>
</div>
