<header>
  <div class="row">
    <div class="col-12">
      <h3>{{appData.isAdultApplicant ? 'Your' : 'Student'}}  Information</h3>
    </div>
  </div>
</header>

<iee-student [student]="appData.student" [parents]="appData.parents" [isAdultApplicant]="appData.isAdultApplicant"></iee-student>

<div class="row my-3" *ngIf="saveTime">
  <div class="col-12 text-end">Last saved at: {{saveTime | date : 'h:mm:ss a'}}</div>
</div>

<div *ngIf="!appData.isAdultApplicant">
  <hr class="my-5">

  <iee-parent [parents]="appData.parents" [student]="appData.student" [isParent]="isParent" [userContactId]="userContactId" [countryCodes]="countryCodes" [stateCodes]="stateCodes"></iee-parent>

  <div class="row my-3" *ngIf="saveTime">
    <div class="col-12 text-end">Last saved at: {{saveTime | date : 'h:mm:ss a'}}</div>
  </div>
</div>
