<header>
  <div class="row">
    <div class="col-8">
      <h3>Student Information</h3>
    </div>
    <div class="col-4 text-right">
      <div class="required inline-block">
        <div class="instructions">Required</div>
      </div>
    </div>
  </div>
</header>

<iee-student [student]="appData.student" [parents]="appData.parents"></iee-student>

<div class="row my-3" *ngIf="saveTime">
  <div class="col-12 text-right">Last saved at: {{saveTime | date : 'h:mm:ss a'}}</div>
</div>

<hr>

<iee-parent [parents]="appData.parents" [student]="appData.student" [isParent]="isParent" [userContactId]="userContactId" [countryCodes]="countryCodes" [stateCodes]="stateCodes"></iee-parent>

<div class="row my-3" *ngIf="saveTime">
  <div class="col-12 text-right">Last saved at: {{saveTime | date : 'h:mm:ss a'}}</div>
</div>
