<p>This Enrollment Agreement is entered into by and between Interlochen Center for the Arts (“Interlochen” or the
  “Institution”) and the Parent(s)/Guardian(s) identified in the above-referenced Student’s Interlochen Online
  Registration (the “Parents”) who have authority to enter into this Enrollment Agreement for the enrollment of the
  Student identified in the online registration process (the “Student”) to the Interlochen Online Program (the
  “Interlochen Online,” “IO,” or the “Program”) for the session dates described in the Student’s online registration
  process(the “Program Session”). In consideration for enrollment of the Student by Interlochen, the Parents acknowledge
  and agree to comply with and be bound by the terms and conditions as outlined below:</p>

<ol>
  <li class="my-2"><b>Tuition and Other Costs and Expenses:</b> Parents are financially responsible for the payment of tuition and
    all other expenses, incidental charges and costs as may be incurred during the course of the Program and billed by
    the Institution (“Tuition” and “Fees”) and agree to pay the Tuition, as applicable, and as may come due and owing as
    billed. The Tuition for the Program Session is outlined in the Online Registration process. The enrollment of the
    Student is made for the full Program Session and Interlochen budgets based on the Student’s enrollment and the
    financial obligations committed pursuant to this Enrollment Agreement. It is understood and agreed by the Parents
    that they are responsible for the payment of the full Tuition and agree to pay the full Tuition at the time of
    registration. No portion of the Tuition and Fees due under this Enrollment Agreement may be applied to payment of
    another student’s Program account. Under no circumstances will any portion of the Tuition and Fees be refunded,
    forgiven or reduced except as specifically established in this Enrollment Agreement.
  </li>

  <li class="my-2"><b>Withdrawal/Removal:</b> It is understood and agreed by the Parents that class size, space, and other factors
    limit the number of students Interlochen may enroll for each IO program session. When a student withdraws from the
    Program, it is difficult, if not impossible, to find a suitable replacement without altering the student
    environment. Therefore the Parents agree and accept the obligation to pay the full Tuition for the Student for the
    entire Program Session selected above, regardless of whether the Student is absent, withdrawn, dismissed or
    otherwise ceases to attend IO for all or a portion of the Program Session, regardless of whether such decision is
    made by Interlochen or by the Parents. The retention of sums paid and the requirement to pay sums outstanding, if
    any, shall be deemed liquidated damages, it being impractical to fix actual damages at the time of making this
    Enrollment Agreement.
  </li>

  <li class="my-2"><b>Eligibility to Return:</b> Eligibility to return for a subsequent IO program session shall be conditioned upon
    Parents’ payment of any outstanding balances due to the Institution for the Student and/or any other students for
    which Parent has financial responsibility. Parents further understand that current and/or past enrollment in IO does
    not ensure future enrollment and that Interlochen reserves the right, at the sole discretion of the Dean of
    Students, to deny the ability to re-enroll in a subsequent IO program to any student. IO is not required to provide
    notification in advance of the denial of re-enrollment, and it is expressly agreed that, regardless of when the
    Parents are informed of the denial of re-enrollment, it shall neither be a breach of this Enrollment Agreement nor a
    basis for re-enrollment.
  </li>

  <li class="my-2"><b>Use of Student Likeness:</b> Unless Parents provide Interlochen with a written notice stating otherwise,
    Parents give Interlochen permission to use the following, without restriction or compensation, in the Institution’s
    print and digital marketing for any of its programs or activities, including but not limited to Interlochen’s
    publications and on Interlochen’s website or social media sites, including but not limited to for promotional uses:
    (i) Student’s name; and (ii) digital, photographic, video, and audio recordings or images or likenesses of the
    Student; and (iii) statements, written extractions, articles, music, art, films and videos created by the Student,
    or including the Student or the Student’s image or likeness, or otherwise originating from the Program or from any
    Program-related activity. All such recordings, films, or images, or works created are the sole property of
    Interlochen and may not be used without written consent. This release is for Interlochen use only and does not grant
    permission for students to use photographs or recorded media of other students, Interlochen events, employees or
    campus property, whether for semi-public/public consumption or personal gain. Such authorization survives the term
    of this Enrollment Agreement and serves as authority to use such material both during and after the Student is
    enrolled in IO.
  </li>

  <li class="my-2"><b>Truthfulness of Information:</b> Parents affirm that all of the information provided to Interlochen in the
    Student’s registration application, in this Enrollment Agreement, and throughout the application and enrollment
    processes is truthful, accurate, and complete in both content and representation, and that it is Parents’ duty to
    update Interlochen of any material changes to the information provided while the Student is enrolled in IO. Parents
    further understand and agree that if any such information is found to be false, misleading or inaccurate, the
    Student may be subject to dismissal.
  </li>

  <li class="my-2"><b>Program Directory:</b> IO may create and electronically distribute to students an IO student directory
    containing the contact information (name, city, state, phone number and email address) of those students who elect
    to share such information following the conclusion of the Program. Parents understand that the Student’s contact
    information may also be shared with college and university representatives and other guest speakers participating in
    IO classes or presentations. By completing the registration process, Parents authorize the release of above stated
    contact information to be included and electronically distributed in a post-event participant contact list, to be
    distributed as described above. Parents understand that the IO directory, and any other personal, private, and/or
    non-public information about students and their families are all confidential and restricted for Program-related
    purposes only. Any use of such information by Parents or the Student for reasons not related to the Program may
    result in Student’s immediate dismissal from the Program. The Parents agree and are responsible for maintaining
    updated contact information, including valid email address(es). Contact information can be updated at
    www.interlochen.org/webform/update-your-contact-information.
  </li>

  <li class="my-2"><b>Student Compliance with IO Policies:</b> By completing the Student’s registration in IO, the Parents agree that
    they and the Student will abide by IO’s rules, regulations, policies, and codes of conduct and character, as may be
    adopted or amended from time to time, including the “student pledge” and all other policies as outlined in the IO
    Code of Conduct and other official Program documents. Parents acknowledge that IO reserves the right, in its sole
    discretion, to dismiss or otherwise discipline any student who does not meet the behavioral and/or performance
    standards of the Program, or whose conduct at any time or place interferes with the IO’s program or operations or
    brings discredit to IO. The administration, instructors, and staff may take all action necessary to ensure the
    operation of IO in all matters as it may apply to the Student. The Parents agree that they and the Student will read
    carefully all written policy documents created by IO and agree to abide and support the requirements and guidelines
    outlined in any such publications. Parents can find links to select IO policies on Interlochen’s website; however,
    Interlochen reserves the right to change, alter, delete, amend, or add to these policies, from time to time, within
    its sole discretion.
  </li>

  <li class="my-2"><b>Parent Cooperation:</b> Interlochen may take all action necessary to ensure the operation of the Program in all
    matters as it may apply to the Student. A positive and constructive relationship between Interlochen and Parents or
    other individuals interacting with IO and/or IO community by virtue of their relationship with the Student is
    essential to the mission of Interlochen and Interlochen Online. Thus, if the behavior, communication, or interaction
    of Parents or other individuals interacting with IO and/or IO community by virtue of their relationship with the
    Student is disruptive, intimidating, overly aggressive, or reflects a loss of confidence or serious disagreement
    with Interlochen and/or IO personnel, including but not limited to disagreement with its policies, procedures,
    responsibilities, personnel, leadership or standards, or imperils accomplishment of its educational purpose or
    program, Parents understand and agree that Interlochen has the right to dismiss the Student from the Program, an IO
    event, or other such restriction or action as determined in the Interlochen’s sole discretion. In addition, Parents
    understand and agree that Interlochen has the right to place restrictions on the Parents’ or other affiliated
    individuals’ involvement with IO or at IO-related events, if such Parents/individuals engage in behavior that
    Interlochen or IO personnel determine in their sole discretion to warrant such a restriction.
  </li>

  <li class="my-2"><b>Online Activity Permission and Release:</b> Interlochen Online will be conducted both asynchronously and
    through live instruction and interactions through online platforms, which may be recorded by teachers for
    educational purposes and may be shared with other students or employees of the Institution. As a result, students’
    images, likenesses, or voices may be recorded while participating in the Program via Canvas and Zoom. Recording of
    the class or other on-line interactions with a student or students is not permitted in any manner by anyone other
    than a representative of the Institution without permission in writing from the Dean of Students. Failure to comply
    with this restriction may result in disciplinary action of the student regardless of who made the recording,
    including but not limited to removal from the Program.<br/>
    <br />
    In limited circumstances, one-on-one video communication may take place when a group meeting or e-mail is not
    sufficient. While minimal, there may be risks related to the use of online platforms. Parents may review the Privacy
    Policy and Terms of Use for Canvas and Zoom. Interlochen’s privacy policy can be found here:
    www.interlochen.org/privacy. By registering, Parents hereby authorize and give permission for the Student to attend
    and participate in all aspects of the educational experience and IO activities, and agrees to hold harmless and
    indemnify Interlochen, Interlochen Online, and their respective directors, officers, agents and employees from any
    and all claims, actions, injuries or damages which may be sustained or caused by the Student in connection with
    these activities.
  </li>

  <li class="my-2"><b>Name, Logo, and Likeness:</b> Parents agree that they and the Student are not authorized to use or give
    permission to use Interlochen or the IO’s name or any likeness of Interlochen or IO’s name, crest or logo for any IO
    or non-IO related purpose or reason without the express written permission of the Vice President of Strategic
    Communications & Engagement authorized to grant such permission. This applies in all situations including but not
    limited to cases of personal gain or benefit, when describing or publicizing an event, outing, club, group or other
    activity that the Parents or the Student may or may not organize, lead or participate in. Interlochen reserves the
    right to take necessary and appropriate action in response to any unauthorized use.
  </li>

  <li class="my-2"><b>IO Programs and Student’s Individuality:</b> Parents acknowledge that their execution of this Enrollment
    Agreement is not contingent upon any particular program, curriculum, employee, or enrollment level, and understand
    that Interlochen retains the right to change IO’s programs, curriculum, or workforce at its discretion. Parents
    further understand that, while Interlochen remains committed to the excellence and the personal growth of each of
    its students, the students have varying skills, talents, and capabilities. By completing the registration process,
    Parents understand that the Interlochen cannot guarantee the success or social readiness of any individual student
    and that Interlochen does not guarantee that the Student will succeed in meeting IO’s performance standards.
  </li>

  <li class="my-2"><b>Modification for Acts Beyond the Institution’s Control:</b> Parents agree that in the event of any failure or
    delay in Interlochen’s performance under this Enrollment Agreement resulting from causes beyond Interlochen’s
    reasonable control and occurring without its fault or negligence, including without limitation, acts of nature,
    fire, pandemic, U.S. government restrictions, wars, and insurrections, the Tuition obligations under this Enrollment
    Agreement shall continue and Interlochen shall not be liable for any such failure or delay in its performance.
    Parents understand that IO schedules may be extended for a period of time equal to the time lost due to any delay so
    caused and/or weekend classes may be scheduled, at Interlochen’s discretion.
  </li>

  <li class="my-2"><b>Cost of Participation in Court or Other Legal Proceedings:</b> If the Parents fail to make any payment under
    this Enrollment Agreement when due, and Interlochen undertakes collection efforts to collect the payment (including
    but not limited to efforts in-house, with the assistance of third parties, or through legal action), the Parents
    agree to pay all expenses incurred by Interlochen, including collection costs and/or legal fees.<br/>
    <br />
    If, as a result of Interlochen’s relationship with the Student, the Parents, or other persons interacting with
    Interlochen and/or the IO community by virtue of their relationship with the Student, Interlochen or any member of
    its staff is required to testify, provide information for, or otherwise participate in a legal dispute to which
    Interlochen is not a party, Interlochen shall be entitled to recover from the Parents its attorneys’ fees and costs
    incurred in such legal action and costs incurred by Interlochen as a result of the collection of documents, coverage
    of faculty, staff or others absent from classes or other Program responsibilities or other associated costs.
  </li>

  <li class="my-2"><b>Entire Agreement:</b> This Enrollment Agreement represents the full and complete agreement between Interlochen
    and the Parents regarding the Student’s enrollment in IO during the Program Session identified above. This
    Enrollment Agreement supersedes all prior negotiations, agreements, terms, conditions, statements, or
    representations, whether written or oral, concerning the subject matter of this Enrollment Agreement.
  </li>

  <li class="my-2"><b>Enforceability/Severability:</b> In the event any provision or portion of this Enrollment Agreement is held to
    be unenforceable or invalid by any court of competent jurisdiction, the remainder of this Enrollment Agreement shall
    remain in full force and effect and shall in no way be affected or invalidated thereby. If either the Parents or
    Interlochen fail to enforce any provision of this Enrollment Agreement, it does not prevent the other party from
    enforcing that provision in the future, nor does it prevent the Parents or Interlochen from enforcing any other
    provision of this Enrollment Agreement.
  </li>

  <li class="my-2"><b>No Amendment:</b> The Enrollment Agreement may not be altered, amended, modified, or otherwise changed in any
    respect except in writing and signed by the Executive Dean of Enrollment Management and the Parent. No agent of the
    Institution, other than its Executive Dean, has authority to modify or make any agreement contrary to the terms of
    this Enrollment Agreement as stated herein.
  </li>

  <li class="my-2"><b>Choice of Law Provision:</b> This Agreement is being entered into in the State of Michigan and shall be
    interpreted under the laws of the State of Michigan. It is further agreed that any litigation which either
    Interlochen or the Student, Parent or Guardian may bring against the other may only be brought in a court of
    appropriate jurisdiction located in Grand Traverse County, Michigan, and Parents hereby consent and agree to the
    jurisdiction of those courts for such purposes.
  </li>

</ol>

<p>By completing the registration process and submitting payment, Parents knowingly and voluntarily agree to the terms
  and conditions of the Interlochen Online Enrollment Agreement. Parents represent that they are responsible for the
  payment of Tuition and Fees and other applicable terms and conditions contained herein regardless of whether the
  Parents have the necessary authority, consent or permission to enroll the Student in IO. The submission of the
  Student’s registration by a single Parent/Guardian of the Student will constitute the representation that s/he has the
  necessary authority and consent to sign on behalf of the other Parent/Guardian, and that both Parents shall be bound
  by the terms and conditions of the Enrollment Agreement. In the event only one Parent/Guardian has legal custody and
  that Parent/Guardian accepts full financial responsibility, then that Parent/Guardian is the sole financially
  responsible party.</p>

<p>The electronic signature below and its related fields are treated by Interlochen like a physical handwritten
  signature on a paper form. Parents agree to enter this Enrollment Agreement by electronic means and that the
  electronic signature is intended to be the same as if there was a physical handwritten signature. Parents understand
  that if they have any problems electronically signing this document, they should contact Interlochen. Failure to sign
  the Enrollment Agreement by the Enrollment Deadline may compromise the Student’s enrollment.
</p>

<p>By typing my name on this electronic record, I am agreeing to the terms and conditions as contained herein, and I
  intend it to serve as my electronic signature. I agree and authorize Interlochen to rely on my electronic signature
  and understand and acknowledge that it has a legally binding effect.
</p>
