<h3 class="mb-3">Parent or Guardian</h3>

<div class="nestedForm">
  <div *ngFor="let parent of parents">
    <h5>{{parent.firstName}} {{parent.lastName}}</h5>
    <div *ngIf="parent && !parent.isVerified">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError">Email Sent - Waiting For Verification</span>
    </div>
    <div *ngIf="!parent.isEditing">
      <button class="btn btn-default" (click)="editParent(parent)"
              *ngIf="parent.isVerified">Update {{parent.firstName}}'s Contact Information
      </button>
      <button class="btn btn-default" (click)="reSendVerification(parent)"
              *ngIf="parent && !parent.isVerified">Re-send Verification
      </button>
      <a class="mx-3" href="javascript:void(0);" *ngIf="parent.contactId !== userContactId"
         [ngClass]="{disabled: isSaving || parent.isSaving}"
         (click)="removeParent(parent.contactId)">Remove</a>
      <span *ngIf="parent.isDeleting"><i class="fa fa-spinner fa-fw fa-pulse"></i> Deleting</span>
      <span *ngIf="(isSaving || parent.isSaving) && !parent.isDeleting"><i class="fa fa-spinner fa-fw fa-pulse"></i> Saving</span>
      <div *ngIf="parent.verificationSent" class="alert alert-info my-3">
        Verification email sent to {{parent.email}}
      </div>
      <div *ngIf="parent.isVerified && !parent.isComplete(countryCodes,stateCodes)" class="my-2">
        <i class="fa fa-warning" style="color:red"></i><span class="reviewError">{{parent.firstName}}'s contact information is incomplete.</span>
      </div>
    </div>
    <div *ngIf="parent.isEditing">
      <div *ngIf="parentNotFound">{{parent.firstName}} {{parent.lastName}} was not found in our system. Please fill out
        the form below to add them.
      </div>
      <iee-parent-info [parent]="parent" [student]="student" [isSaving]="isSaving"></iee-parent-info>
    </div>
    <hr>
  </div>

  <div *ngIf="(!parents || parents.length === 0) && !showParentSearch && !parentResult" class="my-3">
    <button (click)="searchForParent()" class="btn btn-default">
      Add a parent or guardian
    </button>
  </div>

  <div id="parentSearch" *ngIf="showParentSearch">
    <h4>Find a Parent</h4>
    <div class="nestedForm">

      <p>Please use the form below to search for a person in our system.</p>

      <!-- using Aspen maxlength as it's shorter than SFDC -->
      <label for="parentVerificationFirstName">First Name</label>
      <div class="default required">
        <input type="text" class="w-100"
               [(ngModel)]="parentVerification.firstName"
               name="parentVerificationFirstName"
               id="parentVerificationFirstName"
               maxlength="32"/>
      </div>
      <br/>

      <label for="parentVerificationLastName">Last Name</label>
      <div class="default required">
        <input type="text" class="w-100"
               [(ngModel)]="parentVerification.lastName"
               name="parentVerificationLastName"
               id="parentVerificationLastName"
               maxlength="50"/>
      </div>
      <br/>

      <label for="parentVerificationEmail">Email</label>
      <div class="default required">
        <input type="text" class="w-100"
               [(ngModel)]="parentVerification.email"
               name="parentVerificationEmail"
               id="parentVerificationEmail"/>
      </div>
      <br/>

      <label for="parentVerificationPhone">Phone</label>
      <div class="default required">
        <input type="text" class="w-100"
               [(ngModel)]="parentVerification.phone"
               name="parentVerificationPhone"
               id="parentVerificationPhone"/>
      </div>
      <br/>

      <div class="alert alert-danger" *ngIf="searchFormComplete() === false">
        <i class="fa fa-exclamation-triangle"></i> Please fill in all fields to ensure a match is found.
      </div>

      <br/>

      <button class="btn btn-primary mr-2 d-inline-block" type="button"
              [disabled]="searchFormComplete() === false"
              [ngClass]="{disabled: searchFormComplete() === false}"
              (click)="findRelation()">
        <i class="fa fa-search"></i> Search for an existing person
      </button>
      <button class="btn btn-primary ml-2 d-inline-block" type="button"
              (click)="clearRelationSearchForm()">
        <i class="fa fa-ban"></i> Cancel
      </button>
    </div>

  </div>

  <div id="parentSearchResult" *ngIf="parentResult">
    <p>We found {{parentResult.firstNameParent.value}} {{parentResult.lastNameParent.value}}. Is this
      the correct person? If you choose to add this person, <b>an email will be sent to them asking them to verify that
        they are a parent or guardian of the applicant</b>. After this verification is complete, you will be able to
      update or manage their information.
    </p>

    <button class="btn btn-primary mr-2 d-inline-block" type="button" (click)="verifyParent()">
      <i class="fa fa-plus"></i> Yes, Add This Person
    </button>
    <button class="btn btn-primary ml-2 d-inline-block" type="button" (click)="searchForParent()">
      <i class="fa fa-ban"></i> No, Search Again
    </button>
    <span *ngIf="addingUnverifiedParent"><i class="fa fa-spinner fa-pulse fa-fw"></i> Adding...</span>
  </div>

  <label *ngIf="parents.length > 1" for="primaryBillingContact" class="mt-4">Primary Billing Contact</label>
  <div class="default required">
    <div *ngIf="parents.length > 1" class="select">
      <select [(ngModel)]="student.billingParentId"
              class="w-100"
              name="primaryBillingContact"
              id="primaryBillingContact">
        <option *ngFor="let parent of parents" [value]="parent.contactId">
          {{parent.firstName}} {{parent.lastName}}
        </option>
      </select>
    </div>
  </div>
</div>
