<label for="parentEmail" class="mt-4 required">Email</label>
<div class="default required">
  <input type="text" class="w-100"
         [(ngModel)]="parent.email"
         name="parentEmail"
         id="parentEmail"
         maxlength="50"
         pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"/>
</div>

<label for="parentPhone" class="mt-4 required">Mobile Phone</label>
<div class="default required">
  <input type="tel" class="w-100"
         [(ngModel)]="parent.mobilePhone"
         name="parentPhone"
         maxlength="20"
         id="parentPhone"/>
</div>

<div class="row mt-3">
  <div class="col-2 col-md-1 d-flex align-items-center flex-row-reverse">
    <div class="check">
      <input type="checkbox"
             id="parentOptIn"
             name="parentOptIn"
             [(ngModel)]="parent.optIn"/>
      <label for="parentOptIn" class="checkbox-box">
        <i class="fa fa-check"></i>
      </label>
    </div>
  </div>

  <div class="col-10 col-md-11 mt-1 ps-0">
    <label class="required">Check here to receive application updates via text message</label>
  </div>
</div>

<br/>
<h4>Mailing Address</h4>

<button class="btn mt-4"
        [ngClass]="{'btn-ghost' : isAddressComplete(), 'btn-primary': !isAddressComplete()}"
        *ngIf="student && student.mailingAddress && student.mailingAddress.hasAddress()"
        (click)="copyAddressFromStudent()">
  Copy address from student
</button>

<label for="parentMailingStreet" class="mt-4 required">Street</label>
<div class="default required">
  <input type="text" class="w-100"
         [(ngModel)]="parent.mailingAddress.street"
         name="parentMailingStreet"
         maxlength="255"
         id="parentMailingStreet"/>
</div>

<label for="parentMailingCity" class="mt-4 required">City</label>
<div class="default required">
  <input type="text" class="w-100"
         [(ngModel)]="parent.mailingAddress.city"
         name="parentMailingCity"
         maxlength="40"
         id="parentMailingCity"/>
</div>

<label for="parentMailingCountry" class="mt-4 required">Country</label>
<div class="default required">
  <div class="select">
    <ng-autocomplete #countryAutocompleteComponent
                     [data]="countryCodes"
                     [searchKeyword]="keyword"
                     placeholder="Enter the Country name"
                     (selected)='filterStates($event.name); clearState($event.name)'
                     (inputChanged)='filterStates($event.name); clearState($event.name)'
                     (inputCleared)='clearStateVal()'
                     (closed)="focusout()"
                     [itemTemplate]="itemTemplate"
                     [notFoundTemplate]="notFoundTemplate"
                     [ngModel]="parent.mailingAddress.country"
                     class="w-100"
                     id="parentMailingCountry">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</div>
<div *ngIf="showError" class="alert alert-danger" role="alert">
  Please select a valid country from the list
</div>

<label for="parentMailingState" class="mt-4" [ngClass]="{required: filteredStates.length > 0}">State</label>
<div class="default" [ngClass]="{required: filteredStates.length > 0, disabledDiv: filteredStates.length === 0}">
  <div class="select">
    <ng-autocomplete #stateAutocompleteComponent
                     [data]="filteredStates"
                     [searchKeyword]="keyword"
                     [disabled]="filteredStates.length === 0"
                     placeholder="Enter the State name"
                     (selected)="stateSelected($event)"
                     (inputCleared)="clearStateVal()"
                     [itemTemplate]="itemTemplate"
                     [notFoundTemplate]="notFoundTemplate"
                     [ngModel]="parentState"
                     class="w-100"
                     id="parentMailingState">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</div>

<label for="parentMailingPostalCode" class="mt-4" [ngClass]="{required: zipRequired()}">Zip / Postal Code</label>
<div class="default" [ngClass]="{required: zipRequired()}">
  <input type="text" class="w-100"
         [(ngModel)]="parent.mailingAddress.zipPostalCode"
         name="parentMailingPostalCode"
         maxlength="20"
         id="parentMailingPostalCode"/>
</div>

<div class="my-3">
  <button class="btn btn-default" (click)="save()" [disabled]="parent.isSaving || isSaving">Save parent or guardian</button>
  <span *ngIf="parent.isSaving || isSaving"><i class="fa fa-spinner fa-pulse fa-fw"></i> Saving</span>
</div>

