<label for="email">Email</label>
<div class="default required">
  <input type="text"
         [(ngModel)]="parent.email"
         name="email"
         id="email"
         maxlength="50"
         pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"/>
</div>

<button class="btn btn-default my-3" *ngIf="student && student.mailingAddress" (click)="copyAddressFromStudent()">
  Copy address from student
</button>

<label for="mailingStreet">Mailing Street</label>
<div class="default required">
  <input type="text"
         [(ngModel)]="parent.mailingAddress.street"
         name="mailingStreet"
         maxlength="255"
         id="mailingStreet"/>
</div>

<label for="mailingCity">Mailing City</label>
<div class="default required ">
  <input type="text"
         [(ngModel)]="parent.mailingAddress.city"
         name="mailingCity"
         maxlength="40"
         id="mailingCity"/>
</div>

<label for="mailingCountry">Mailing Country</label>
<div class="default required ">
  <div class="select">
    <select [(ngModel)]="parent.mailingAddress.country"
            name="mailingCountry"
            id="mailingCountry">
      <!--      <option *ngFor="let country of countries">{{country}}</option>-->
    </select>
  </div>
</div>

<label for="mailingState">Mailing State</label>
<div class="default">
  <div class="select">
    <select [(ngModel)]="parent.mailingAddress.stateProvince"
            name="mailingState"
            id="mailingState">
      <!--      <option *ngFor="let state of filteredStates">{{state}}</option>-->
    </select>
  </div>
</div>

<label for="mailingPostalCode">Mailing Zip / Postal Code</label>
<div class="default">
  <input type="text"
         [(ngModel)]="parent.mailingAddress.zipPostalCode"
         name="mailingPostalCode"
         maxlength="20"
         id="mailingPostalCode"/>
</div>

<button class="btn btn-default my-3" (click)="save()">Save parent</button>
