<label for="parentEmail" class="mt-4">Email</label>
<div class="default required">
  <input type="text"
         [(ngModel)]="parent.email"
         name="parentEmail"
         id="parentEmail"
         maxlength="50"
         pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"/>
</div>

<button class="btn btn-default my-3" *ngIf="student && student.mailingAddress && student.mailingAddress.hasAddress()" (click)="copyAddressFromStudent()">
  Copy address from student
</button>

<label for="parentMailingStreet">Mailing Street</label>
<div class="default required">
  <input type="text"
         [(ngModel)]="parent.mailingAddress.street"
         name="parentMailingStreet"
         maxlength="255"
         id="parentMailingStreet"/>
</div>

<label for="parentMailingCity" class="mt-4">Mailing City</label>
<div class="default required ">
  <input type="text"
         [(ngModel)]="parent.mailingAddress.city"
         name="parentMailingCity"
         maxlength="40"
         id="parentMailingCity"/>
</div>

<label for="parentMailingCountry" class="mt-4">Mailing Country</label>
<div class="default required ">
  <div class="select">
    <select [(ngModel)]="parent.mailingAddress.country"
            name="parentMailingCountry"
            id="parentMailingCountry">
            <option *ngFor="let country of countryCodes" [value]="country.name">{{country.name}}</option>
    </select>
  </div>
</div>

<label for="parentMailingState" class="mt-4">Mailing State</label>
<div class="default">
  <div class="select">
    <select [(ngModel)]="parent.mailingAddress.stateProvince"
            name="parentMailingState"
            id="parentMailingState">
            <option *ngFor="let state of filteredStates" [value]="state.name">{{state.name}}</option>
    </select>
  </div>
</div>

<label for="parentMailingPostalCode" class="mt-4">Mailing Zip / Postal Code</label>
<div class="default" [class]="{required: zipRequired()}">
  <input type="text"
         [(ngModel)]="parent.mailingAddress.zipPostalCode"
         name="parentMailingPostalCode"
         maxlength="20"
         id="parentMailingPostalCode"/>
</div>

<button class="btn btn-default my-3" (click)="save()" [disabled]="parent.isSaving">Save parent</button>
<span *ngIf="parent.isSaving">Saving <i class="fa fa-spinner fa-pulse fa-fw"></i></span>

