<div *ngFor="let parent of parents" class="my-4">
  <div class="row">
    <div class="col-8 d-flex align-items-end">
      <h4>Parent or Guardian: {{parent.firstName}} {{parent.lastName}}</h4>
    </div>
    <div class="col-4 text-end">
      <a *ngIf="!locked" [routerLink]="[link.link]" class="{{editBtnClass}}">Edit</a>
    </div>
  </div>

  <div *ngIf="parent && !parent.isVerified" class="row my-4">
    <div class="col-8">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError">Email Sent - Waiting For Verification</span>
      <div *ngIf="parent.verificationSent" class="alert alert-info my-3">
        Verification email sent to {{parent.email}}
      </div>
    </div>
    <div class="col-4 text-end">
      <button class="btn btn-default" (click)="reSendVerification(parent)">Re-send Verification</button>
    </div>
  </div>

  <div *ngIf="parent && parent.isVerified">
    <div class="review my-1 row">
      <div class="col-5 hideOverflow">Email</div>
      <div class="col-7 hideOverflow" *ngIf="!parent.email">
        <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
      </div>
      <div class="col-7 hideOverflow" *ngIf="parent.email">{{parent.email}}</div>
    </div>

    <div class="review my-1 row">
      <div class="col-5 hideOverflow">Street</div>
      <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.street">
        <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
      </div>
      <div class="col-7 hideOverflow"
           *ngIf="parent.mailingAddress && parent.mailingAddress.street">{{parent.mailingAddress.street}}</div>
    </div>

    <div class="review my-1 row">
      <div class="col-5 hideOverflow">City</div>
      <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.city">
        <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
      </div>
      <div class="col-7 hideOverflow"
           *ngIf="parent.mailingAddress && parent.mailingAddress.city">{{parent.mailingAddress.city}}</div>
    </div>

    <div class="review my-1 row">
      <div class="col-5 hideOverflow">Country</div>
      <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.country">
        <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
      </div>
      <div class="col-7 hideOverflow"
           *ngIf="parent.mailingAddress && parent.mailingAddress.country">{{parent.mailingAddress.country}}</div>
    </div>

    <div class="review my-1 row" *ngIf="filteredStateCodesByParent.get(parent.contactId).length > 0">
      <div class="col-5 hideOverflow">State</div>
      <div class="col-7 hideOverflow" *ngIf="showStateError(parent)">
        <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
      </div>
      <div class="col-7 hideOverflow"
           *ngIf="parent.mailingAddress && parent.mailingAddress.stateProvince">{{parent.mailingAddress.stateProvince}}</div>
    </div>

    <div class="review my-1 row" *ngIf="showZip(parent)">
      <div class="col-5 hideOverflow">Zip / Postal Code</div>
      <div class="col-7 hideOverflow" *ngIf="showZipError(parent)">
        <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
      </div>
      <div class="col-7 hideOverflow"
           *ngIf="parent.mailingAddress && parent.mailingAddress.zipPostalCode">{{parent.mailingAddress.zipPostalCode}}</div>
    </div>
  </div>
</div>

<div *ngIf="!parents || parents.length === 0" class="alert alert-danger">
  Please <a [routerLink]="[link.link]" class="alert-link">add a parent or guardian</a> before completing your registration.
</div>
