<div class="row">
  <div class="col-8">
    <h4>Parents</h4>
  </div>
  <div class="col-4 text-right">
    <a [routerLink]="[link.routerLink]" class="btn btn-primary">Edit</a>
  </div>
</div>

<div *ngFor="let parent of parents">
  <h5>{{parent.firstName}} {{parent.lastName}}</h5>

  <div class="incomplete" *ngIf="!parent.isComplete()">
    Missing data!
  </div>

  <div class="review my-1 row">
    <div class="col-5 hideOverflow">Email</div>
    <div class="col-7 hideOverflow" *ngIf="!parent.email">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
    </div>
    <div class="col-7 hideOverflow" *ngIf="parent.email">{{parent.email}}</div>
  </div>

  <div class="review my-1 row">
    <div class="col-5 hideOverflow">Mailing Street</div>
    <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.street">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
    </div>
    <div class="col-7 hideOverflow"
         *ngIf="parent.mailingAddress && parent.mailingAddress.street">{{parent.mailingAddress.street}}</div>
  </div>

  <div class="review my-1 row">
    <div class="col-5 hideOverflow">Mailing City</div>
    <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.city">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
    </div>
    <div class="col-7 hideOverflow"
         *ngIf="parent.mailingAddress && parent.mailingAddress.city">{{parent.mailingAddress.city}}</div>
  </div>

  <div class="review my-1 row">
    <div class="col-5 hideOverflow">Mailing Country</div>
    <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.country">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
    </div>
    <div class="col-7 hideOverflow"
         *ngIf="parent.mailingAddress && parent.mailingAddress.country">{{parent.mailingAddress.country}}</div>
  </div>

  <div class="review my-1 row">
    <div class="col-5 hideOverflow">Mailing State</div>
    <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.stateProvince">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
    </div>
    <div class="col-7 hideOverflow"
         *ngIf="parent.mailingAddress && parent.mailingAddress.stateProvince">{{parent.mailingAddress.stateProvince}}</div>
  </div>

  <div class="review my-1 row">
    <div class="col-5 hideOverflow">Mailing Zip / Postal Code</div>
    <div class="col-7 hideOverflow" *ngIf="!parent.mailingAddress || !parent.mailingAddress.zipPostalCode">
      <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
    </div>
    <div class="col-7 hideOverflow"
         *ngIf="parent.mailingAddress && parent.mailingAddress.zipPostalCode">{{parent.mailingAddress.zipPostalCode}}</div>
  </div>
</div>
