<iee-header></iee-header>

<nav>
  <ul>
    <li><a routerLink="/personal-info" routerLinkActive="active">Personal Information</a></li>
    <li><a routerLink="/program" routerLinkActive="active">Select a Program</a></li>
    <li><a routerLink="/review-and-submit" routerLinkActive="active">Review and Submit</a></li>
    <li><a routerLink="/enrollment-agreement" routerLinkActive="active">Enrollment Agreement</a></li>
  </ul>
</nav>

<router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
