<div class="application">
  <div class="row">
    <iee-header class="col-12"></iee-header>
  </div>

  <div class="row">
    <div class="application-steps col-12 col-md-3">
      <nav class="well dark">
        <ul>
          <li *ngFor="let link of links" [ngClass]="{disabled: link.disabled(appData, countryCodes, stateCodes)}">
            <a *ngIf="link.show(appData)"
               [routerLink]="[link.routerLink]" routerLinkActive="active"
               [ngClass]="{disabled: link.disabled(appData, countryCodes, stateCodes)}"
               [tabIndex]="link.disabled(appData, countryCodes, stateCodes) ? -1 : 0"
               (click)="saveApplication(link.disabled(appData, countryCodes, stateCodes))">{{link.text}}</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-12 col-md-9 pl-md-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
