<h3 class="mb-3">Student</h3>
<div class="nestedForm">
  <h5>{{student.firstName}} {{student.lastName}}</h5>

  <label for="preferredName" class="mt-4">What name would the student prefer to be called?</label>
  <div class="default required">
    <input type="text"
           [(ngModel)]="student.preferredName"
           name="nickName"
           id="preferredName"
           maxlength="25"/>
  </div>

  <label for="email" class="mt-4">Applicant's Email</label>
  <div class="default required">
    <input type="text"
           [(ngModel)]="student.email"
           name="email"
           id="email"
           maxlength="50"
           pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"/>
  </div>

  <label for="mobilePhone" class="mt-4">Mobile Phone</label>
  <div class="default required">
    <input type="text"
           [(ngModel)]="student.mobilePhone"
           name="mobilePhone"
           maxlength="20"
           id="mobilePhone"/>
  </div>

  <hr class="my-4">

  <div *ngFor="let parent of parents">
    <button *ngIf="showCopyAddressButton(parent)" (click)="copyAddressFrom(parent.mailingAddress)"
            class="btn btn-default">
      Copy Address from {{parent.firstName}} {{parent.lastName}}
    </button>
  </div>

  <label for="mailingStreet" class="mt-4">Mailing Street</label>
  <div class="default required">
    <input type="text"
           [(ngModel)]="student.mailingAddress.street"
           name="mailingStreet"
           maxlength="255"
           id="mailingStreet"/>
  </div>

  <label for="mailingCity" class="mt-4">Mailing City</label>
  <div class="default required ">
    <input type="text"
           [(ngModel)]="student.mailingAddress.city"
           name="mailingCity"
           maxlength="40"
           id="mailingCity"/>
  </div>

  <label for="mailingCountry" class="mt-4">Mailing Country</label>
  <div class="default required ">
    <div class="select">
      <select [(ngModel)]="student.mailingAddress.country"
              name="mailingCountry"
              id="mailingCountry">
        <!--      <option *ngFor="let country of countries">{{country}}</option>-->
      </select>
    </div>
  </div>

  <label for="mailingState" class="mt-4">Mailing State</label>
  <div class="default">
    <div class="select">
      <select [(ngModel)]="student.mailingAddress.stateProvince"
              name="mailingState"
              id="mailingState">
        <!--      <option *ngFor="let state of filteredStates">{{state}}</option>-->
      </select>
    </div>
  </div>

  <label for="mailingPostalCode" class="mt-4">Mailing Zip / Postal Code</label>
  <div class="default">
    <input type="text"
           [(ngModel)]="student.mailingAddress.zipPostalCode"
           name="mailingPostalCode"
           maxlength="20"
           id="mailingPostalCode"/>
  </div>

  <hr class="my-4">

  <p>Interlochen is committed to inclusion, non-discrimination and creating a safe environment for everyone
    in our community.</p>
  <label>Gender Identity</label>
  <div class="default required">
    <div class="form-check form-check-inline" *ngFor="let option of genderIdentityOptions; let i = index">
      <input type="radio"
             class="form-check-input"
             [(ngModel)]="student.genderIdentity"
             name="genderIdentity"
             id="genderIdentity{{i}}"
             value="{{option.value}}"/>
      <label for="genderIdentity{{i}}" class="form-check-label">{{option.label}}</label>
    </div>
  </div>

  <label for="genderIdentityDetail" class="mt-4">Gender Non-Binary Details</label>
  <div class="default"
       [ngClass]="{required:genderDetailRequired(), disabledDiv:!genderDetailRequired()}">
        <textarea [disabled]="!genderDetailRequired()"
                  [(ngModel)]="student.genderIdentityDetails"
                  name="genderIdentityDetail"
                  maxlength="255"
                  id="genderIdentityDetail"></textarea>
  </div>

  <label for="birthdate" class="mt-4">Birth Date</label>
  <div class="default required">
    <input type="text" name="birthdate" id="birthdate" />
  </div>
  <!--<iee-date-dropdown label-text="Birth Date"-->
  <!--                   is-disabled="false"-->
  <!--                   is-required="true"-->
  <!--                   form-data-field="formData['Student Information'].birthdate"-->
  <!--                   starting-year-offset="-20"-->
  <!--                   ending-year-offset="-5"></iee-date-dropdown>-->


  <div>
    <label for="race" class="mt-4">What is this student’s race?</label>
    <div class="default">
      <div class="select">
        <select [(ngModel)]="student.race"
                name="race"
                id="race">
        </select>
      </div>
    </div>

    <label for="raceOther" class="mt-4">If race not listed, please specify</label>
    <div class="default">
      <input type="text"
             [(ngModel)]="student.raceOther"
             name="raceOther"
             maxlength="255"
             id="raceOther"/>
    </div>
  </div>

  <label class="mt-4">Is the student of Hispanic, Latinx, or Spanish origin?</label>
  <div class="default">
    <div class="form-check form-check-inline" *ngFor="let option of yesNoOptions; let i = index">
      <input type="radio"
             class="form-check-input"
             [(ngModel)]="student.hispanic"
             name="hispanic"
             id="hispanic{{i}}"
             value="{{option.value}}"/>
      <label for="hispanic{{i}}" class="form-check-label">{{option.label}}</label>
    </div>
  </div>
</div>
