<h5 class="mb-3">Name: {{student.preferredName || student.firstName}} {{student.lastName}}</h5>
<div class="nestedForm">

  <label for="preferredName" class="mt-4 required">What name would {{isAdultApplicant ? 'you' : 'the student'}} prefer to be called?</label>
  <div class="default required">
    <input type="text" class="w-100"
           [(ngModel)]="student.preferredName"
           name="nickName"
           id="preferredName"
           autocomplete="off_preferredName"
           maxlength="25"/>
  </div>

  <label for="email" class="mt-4 required">{{isAdultApplicant ? '' : 'Student’s '}}Email</label>
  <div class="default required">
    <input type="text" class="w-100"
           [(ngModel)]="student.email"
           name="email"
           id="email"
           maxlength="50"
           pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"/>
  </div>

  <label for="mobilePhone" class="mt-4 required">Mobile Phone</label>
  <div class="default required">
    <input type="text" class="w-100"
           [(ngModel)]="student.mobilePhone"
           name="mobilePhone"
           maxlength="20"
           id="mobilePhone"/>
  </div>

  <div *ngIf="!isAdultApplicant">
    <div *ngFor="let parent of parents">
      <button *ngIf="showCopyAddressButton(parent)" (click)="copyAddressFrom(parent.mailingAddress)"
              class="btn btn-default mt-4">
        Copy Address from {{parent.firstName}} {{parent.lastName}}
      </button>
    </div>
  </div>

  <label for="mailingStreet" class="mt-4 required">Mailing Street</label>
  <div class="default required">
    <input type="text" class="w-100"
           [(ngModel)]="student.mailingAddress.street"
           name="mailingStreet"
           maxlength="255"
           id="mailingStreet"/>
  </div>

  <label for="mailingCity" class="mt-4 required">Mailing City</label>
  <div class="default required">
    <input type="text" class="w-100"
           [(ngModel)]="student.mailingAddress.city"
           name="mailingCity"
           maxlength="40"
           id="mailingCity"/>
  </div>

  <label for="mailingCountry" class="mt-4 required">Mailing Country</label>
  <div class="default required">
    <div class="select">
      <select (ngModelChange)="filterStates($event); clearState($event)"
              [(ngModel)]="student.mailingAddress.country"
              class="w-100"
              name="mailingCountry"
              id="mailingCountry">
        <option *ngFor="let country of countryCodes" [value]="country.name">{{country.name}}</option>
      </select>
    </div>
  </div>

  <label for="mailingState" class="mt-4" [ngClass]="{required: filteredStates.length > 0}">Mailing State</label>
  <div class="default" [ngClass]="{required: filteredStates.length > 0, disabledDiv: filteredStates.length === 0}">
    <div class="select">
      <select [(ngModel)]="student.mailingAddress.stateProvince"
              [disabled]="filteredStates.length === 0"
              name="mailingState"
              class="w-100"
              id="mailingState">
        <option *ngFor="let state of filteredStates" [value]="state.isoCode">{{state.name}}</option>
      </select>
    </div>
  </div>

  <label for="mailingPostalCode" class="mt-4" [ngClass]="{required: zipRequired()}">Mailing Zip / Postal Code</label>
  <div class="default" [ngClass]="{required: zipRequired()}">
    <input type="text" class="w-100"
           [(ngModel)]="student.mailingAddress.zipPostalCode"
           name="mailingPostalCode"
           maxlength="20"
           id="mailingPostalCode"/>
  </div>

  <hr class="my-4">

  <p>Interlochen is committed to inclusion, non-discrimination and creating a safe environment for everyone
    in our community.</p>
  <label class="required">Gender Identity</label>
  <div class="default required">
    <div class="form-check form-check-inline" *ngFor="let option of genderIdentityOptions; let i = index">
      <input type="radio"
             class="form-check-input"
             [(ngModel)]="student.genderIdentity"
             name="genderIdentity"
             id="genderIdentity{{i}}"
             value="{{option.value}}"/>
      <label for="genderIdentity{{i}}" class="form-check-label">{{option.label}}</label>
    </div>
  </div>

  <div *ngIf="!isAdultApplicant">
    <label class="mt-4 required">Birth Date</label>
    <div class="default required">
      <div class="form-group row">
        <div class="col-12 col-md-4">
          <label for="birthdate_year">Year</label>
          <div class="select">
            <select id="birthdate_year" class="w-100" [(ngModel)]="student.birthdateYear" (change)="student.updateBirthdate(); updateDayOptions()">
              <option *ngFor="let year of yearOptions" [value]="year.value">{{year.label}}</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <label for="birthdate_month">Month</label>
          <div class="select">
            <select id="birthdate_month" class="w-100" [(ngModel)]="student.birthdateMonth" (change)="student.updateBirthdate(); updateDayOptions()">
              <option *ngFor="let month of monthOptions" [value]="month.value">{{month.label}}</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <label for="birthdate_day">Day</label>
          <div class="select">
            <select id="birthdate_day" class="w-100" [(ngModel)]="student.birthdateDay" (change)="student.updateBirthdate()">
              <option *ngFor="let day of dayOptions" [value]="day.value">{{day.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isAdultApplicant">
    <div class="default required">
      <input type="checkbox"
             [(ngModel)]="student.isAdult"
             name="isAdult"
             id="isAdult"/>
      <label for="isAdult" class="mt-4 required ms-2">I confirm that I am 18 years of age or older by the first day of the course.</label>
    </div>
  </div>


  <div>
    <label for="race" class="mt-4">{{isAdultApplicant ? 'Race' : 'What is this student’s race?'}}</label>
    <div class="default">
      <div class="select">
        <select [(ngModel)]="student.race"
                name="race"
                class="w-100"
                id="race">
          <option [value]="option.value" *ngFor="let option of ethnicityOptions">{{option.label}}</option>
        </select>
      </div>
    </div>

    <label for="raceOther" class="mt-4">If race not listed, please specify</label>
    <div class="default">
      <input type="text" class="w-100"
             [(ngModel)]="student.raceOther"
             name="raceOther"
             maxlength="255"
             id="raceOther"/>
    </div>
  </div>

  <label class="mt-4">{{isAdultApplicant ? 'Are you' : 'Is the student'}} of Hispanic, Latinx, or Spanish origin?</label>
  <div class="default">
    <div class="form-check form-check-inline" *ngFor="let option of yesNoOptions; let i = index">
      <input type="radio"
             class="form-check-input"
             [(ngModel)]="student.hispanic"
             name="hispanic"
             id="hispanic{{i}}"
             value="{{option.value}}"/>
      <label for="hispanic{{i}}" class="form-check-label">{{option.label}}</label>
    </div>
  </div>
</div>
