<header>
  <div class="row">
    <div class="col-12">
      <h3>Review Registration</h3>
    </div>
  </div>
</header>

<iee-student-review [student]="appData.student" [isAdultApplicant]="appData.isAdultApplicant" [link]="routerLinks[0]" class="my-3 block"></iee-student-review>
<iee-parent-review *ngIf="!appData.isAdultApplicant" class="my-3 block" [parents]="appData.parents" [student]="appData.student"
                   [link]="routerLinks[0]"></iee-parent-review>
<iee-program-review [appData]="appData" [link]="routerLinks[1]" [isRegistered]="appData.isRegistered" class="my-3 block"></iee-program-review>
<div class="alert alert-danger" *ngIf="appData && !appData.isComplete(countryCodes, stateCodes)">
  Please fill out all sections before completing your registration.
</div>
