<div class="my-4">
  <h5 *ngIf="appData.programData.selectedCertificates.length > 0">Selected Certificate Programs</h5>
  <div *ngFor="let group of appData.programData.selectedCertificates" class="checkbox-container col-12 p-4 my-3">
    <div class="d-flex align-items-end">
      <div class="checkbox col-2 col-xl-1" *ngIf="!group.isSaving" (click)="removeCertificate(group)">
        <input type="checkbox" [id]="group.id" [name]="group.name" [checked]="group.isSelected">
        <label class="clickable">
          <i class="fa fa-check ps-4"></i>
        </label>
      </div>
      <div class="checkbox col-2 col-xl-1" *ngIf="group.isSaving">
        <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
      </div>
      <div>
        <h4 class="m-0">{{ group.name }}</h4>
      </div>
    </div>
    <hr>
    <div class="col-12 mt-3">
      <h6 class="mt-3">Courses:</h6>
      <ul class="mb-3 list-group list-group-flush">
        <li class="list-group-item" *ngFor="let course of group.courses">
          <b>{{ course.name }}</b><br/>
          {{ course.selectedSessionDates }}
        </li>
      </ul>
    </div>
    <div class="col-12">
      <a href="javascript:void(0);" (click)="addOrEditCertificate(group, certificateModal)"><i
        class="fa fa-pencil"></i> Edit</a>
    </div>
  </div>
</div>

<div class="my-4">
  <h5>Available Certificate Programs</h5>
  <div *ngFor="let group of appData.programData.availableCertificates"
       (click)="addOrEditCertificate(group, certificateModal)"
       class="checkbox-container checkbox-container-clickable col-12 my-3 p-4">
    <div class="d-flex align-items-end">
      <div class="checkbox col-2 col-xl-1" *ngIf="!group.isSaving">
        <input type="checkbox" [id]="group.id" [name]="group.name" [checked]="group.isSelected">
        <label>
          <i class="fa fa-check ps-4"></i>
        </label>
      </div>
      <div class="checkbox col-2 col-xl-1" *ngIf="group.isSaving">
        <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
      </div>
      <div>
        <h4 class="m-0">{{ group.name }}</h4>
      </div>
    </div>
    <hr>
    <div class="col-12 mt-3">
      <h6 class="mt-3">Courses:</h6>
      <ul class="mb-3 list-group list-group-flush">
        <li class="list-group-item" *ngFor="let course of group.courses">
          {{ course.name }}
        </li>
      </ul>
    </div>
  </div>
</div>


<ng-template #certificateModal let-modal>
  <iee-bundle-modal [group]="selectedGroup" [modal]="modal"
                    [selectedDivision]="appData.ageGroup"></iee-bundle-modal>
</ng-template>
