<div class="row">
  <div class="col-7 col-md-8 d-flex align-items-end">
    <h4>{{isAdultApplicant ? '' : 'Student: '}}{{student.preferredName || student.firstName}} {{student.lastName}}</h4>
  </div>
  <div class="col-5 col-md-4 text-end">
    <a *ngIf="!locked"
       [routerLink]="[link.link]"
       class="btn"
       [ngClass]="{'btn-ghost': student.isComplete(this.countryCodes, this.stateCodes), 'btn-primary': !student.isComplete(this.countryCodes, this.stateCodes)}">
      Edit
    </a>
  </div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Legal Name</div>
  <div class="col-7 hideOverflow">{{student.firstName}} {{student.lastName}}</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Preferred Name</div>
  <div class="col-7 hideOverflow" *ngIf="!student.preferredName">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.preferredName">{{student.preferredName}}</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Email</div>
  <div class="col-7 hideOverflow" *ngIf="!student.email">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.email">{{student.email}}</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Mobile Phone</div>
  <div class="col-7 hideOverflow" *ngIf="!student.mobilePhone">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.mobilePhone">{{student.mobilePhone}}</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Text Updates</div>
  <div class="col-7 hideOverflow" *ngIf="!student.optIn">No</div>
  <div class="col-7 hideOverflow" *ngIf="student.optIn">Yes</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Street</div>
  <div class="col-7 hideOverflow" *ngIf="!student.mailingAddress || !student.mailingAddress.street">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.mailingAddress && student.mailingAddress.street">{{student.mailingAddress.street}}</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">City</div>
  <div class="col-7 hideOverflow" *ngIf="!student.mailingAddress || !student.mailingAddress.city">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.mailingAddress && student.mailingAddress.city">{{student.mailingAddress.city}}</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Country</div>
  <div class="col-7 hideOverflow" *ngIf="!student.mailingAddress || !student.mailingAddress.country">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.mailingAddress && student.mailingAddress.country">{{student.mailingAddress.country}}</div>
</div>

<div class="review my-1 row" *ngIf="showState()">
  <div class="col-5 hideOverflow">State</div>
  <div class="col-7 hideOverflow" *ngIf="showStateError()">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.mailingAddress && student.mailingAddress.stateProvince">{{student.mailingAddress.stateProvince}}</div>
</div>

<div class="review my-1 row" *ngIf="showZip()">
  <div class="col-5 hideOverflow">Zip / Postal Code</div>
  <div class="col-7 hideOverflow" *ngIf="showZipError()">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.mailingAddress && student.mailingAddress.zipPostalCode">{{student.mailingAddress.zipPostalCode}}</div>
</div>

<div class="review my-1 row">
  <div class="col-5 hideOverflow">Gender Identity</div>
  <div class="col-7 hideOverflow" *ngIf="!student.genderIdentity">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.genderIdentity">{{student.genderIdentity}}</div>
</div>

<div class="review my-1 row" *ngIf="!isAdultApplicant">
  <div class="col-5 hideOverflow">Birth Date</div>
  <div class="col-7 hideOverflow" *ngIf="!formattedBirthdate">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="formattedBirthdate">{{formattedBirthdate}}</div>
</div>

<div class="review my-1 row" *ngIf="isAdultApplicant">
  <div class="col-5 hideOverflow">I am over 18</div>
  <div class="col-7 hideOverflow" *ngIf="!student.isAdult">
    <i class="fa fa-warning" style="color:red"></i><span class="reviewError"> Not Provided</span>
  </div>
  <div class="col-7 hideOverflow" *ngIf="student.isAdult">Yes</div>
</div>

<div class="review my-1 row" *ngIf="student.race">
  <div class="col-5 hideOverflow">Race</div>
  <div class="col-7 hideOverflow" *ngIf="student.race">{{student.race}}</div>
</div>

<div class="review my-1 row" *ngIf="student.raceOther">
  <div class="col-5 hideOverflow">Other Race</div>
  <div class="col-7 hideOverflow" *ngIf="student.raceOther">{{student.raceOther}}</div>
</div>

<div class="review my-1 row" *ngIf="student.hispanic">
  <div class="col-5 hideOverflow">Hispanic, Latinx, or Spanish?</div>
  <div class="col-7 hideOverflow" *ngIf="student.hispanic">{{student.hispanic}}</div>
</div>
