.save-next-link {
    padding: 5px 15px;
    border-radius: 5px;
  }
  .save-next-link:hover:not(.disabled) {
    cursor: pointer;
  }
  
  .save-next-link.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  