<div class="col-12 col-md-8">
  <router-outlet></router-outlet>
  <div class="text-end my-5">
    <span *ngIf="showBackLink"><a href="javascript:void(0);"
                                  [ngClass]="{disabled: isSaving}"
                                  (click)="saveAndBack()"><i class="fa fa-long-arrow-left"></i> Previous Step</a></span>
    <span *ngIf="showSaveAndQuit && showBackLink"> | </span>
    <a *ngIf="showSaveAndQuit" (click)="saveAndQuit()" [ngClass]="{disabled: isSaving}" href="javascript:void(0);">Save
      and Quit</a>
    <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="isSaving"></i>
    <span *ngIf="showNextLink"> | <a href="javascript:void(0);"
                                     [ngClass]="{disabled: isSaving || disableNextLink}"
                                     (click)="saveAndNext()">Save & Next <i
      class="fa fa-long-arrow-right"></i></a></span>
  </div>
</div>
